

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <h1>Benutzer <span th:text="${loginname}">Platzhalter</span> bearbeiten...</h1>
        <form th:object="${formular}" method="post" th:action="@{'/admin/benutzer/' + ${loginname}}">
            <label>Name:</label><input type="text" th:field="*{name}"><br>
            <label>E-Mail:</label><input type="text" th:field="*{eMail}"><br>
            <label>Adresse:</label><input type="text" th:field="*{adresse}"><br>
            <label>Rolle:</label>
            <select name="Rollen" th:field="*{rolle}">
                <option value="" selected="selected"> </option>
                <option value="ADMINISTRATOR">Administrator</option>
                <option value="ANBIETER">Anbieter</option>
                <option value="TESTER">Tester</option>
            </select><br>
            <label>Passwort:</label><input type="password" th:field="*{passwort}"><br>
            <label>Passwort (Wiederholung):</label><input type="password" th:field="*{passwortWiederholung}"><br>
            <label>aktiviert</label><input type="checkbox" th:field="*{aktiviert}">
            <br><br>
            <input type="reset" value="Abbruch"><br>
            <input type="submit" value="OK">

            

        </form>
    </body>
</html>
