
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/benutzer.css}">
</head>
<body>

    <div th:replace="~{fragments/kopffuss :: kopf}"></div>

    <main>
        <h2 th:text="#{benutzer.liste.titel}">Benutzerliste</h2>

        <table>
            <thead>
                <tr>
                    <th th:text="#{benutzer.liste.spalte.loginname}">Login</th>
                    <th th:text="#{benutzer.liste.spalte.name}">Name</th>
                    <th th:text="#{benutzer.liste.spalte.email}">E-Mail</th>
                    <th th:text="#{benutzer.liste.spalte.rolle}">Rolle</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="benutzer : ${benutzerliste}">
                    <td th:text="${benutzer.loginName}">login</td>
                    <td th:text="${benutzer.name}">name</td>
                    <td th:text="${benutzer.eMail}">email</td>
                    <td th:text="${benutzer.rolle}">rolle</td>

                    <td>
                        <a th:href="@{'/admin/benutzer/' + ${benutzer.loginName}}"
                           th:text="#{benutzer.liste.spalte.bearbeiten}">
                            bearbeiten
                        </a>
                    </td>

                    <td>
                        <a th:href="@{'/admin/benutzer/' + ${benutzer.loginName} + '/delete'}"
                           th:text="#{benutzer.liste.spalte.loeschen}">
                            löschen
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <div th:replace="~{fragments/kopffuss :: fuss}"></div>

</body>
</html>